/* Fonts */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
  --basik-black: #000000;
  --basik-white: #ffffff;
  --basik-red: #fb565a;
  --red-hover: #e74246;
  --red-click: #d7373b;
  --basik-green: #00ca74;
  --green-hover: #00bc6c;
  --green-click: #00aa62;
  --basik-yellow: #efc849;
  --yellow-hover: #eab634;
  --yellow-click: #e5a722;
  --gray-7: #eeeeee;
  --gray-12: #e1e1e1;
  --gray-13: #dfdfdf;
  --gray-14: #dbdbdb;
  --gray-15: #d7dcde;
  --gray-16: #d5d5d5;
  --gray-28: #b4b9bb;
  --gray-35: #a6a6a6;
  --gray-60: #666666;
  --gray-70: #4d4d4d;
  --gray-73: #444444;
  --gray-82: #283136;
  --gray-87: #231F20;
  --opacity-white: 255, 255, 255;
  --opacity-black: 0, 0, 0;
  --opacity-gray: 166, 166, 166;
  --opacity-button-gray: 0, 1, 1;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basik-black);
  background-color: var(--basik-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: var(--gray-7);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
}

.site-navigation {
  list-style: none;
}

/* User navigation */

.site-navigation a,
.header-basket {
  color: var(--basik-black);
}

.site-navigation a:hover,
.header-basket:hover {
  color: var(--basik-red);
}

.site-navigation a:active,
.header-basket:active {
  color: var(--basik-black);
  opacity: 30%;
}

/* Sliders */

.main-slider {
  background-color: var(--gray-7);
  color: var(--basik-black);
}

.page-title {
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: var(--gray-82);
}

.button {
  text-align: center;
  vertical-align: middle;
  color: var(--basik-white);
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.button-red {
  background-color: var(--basik-red);
}

.button-red:hover {
  background-color: var(--red-hover);
}

.button-red:active {
  background-color: var(--red-click);
  color: rgba(var(--opacity-white), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}

/* Services */

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item p {
  color: var(--gray-82);
  font-weight: 400;
}

.button-green {
  background-color: var(--basik-green);
}

.button-green:hover {
  background-color: var(--green-hover);
}

.button-green:active {
  background-color: var(--green-click);
  color: rgba(var(--opacity-white), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}

.button-yellow {
  background-color: var(--basik-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow-hover);
}

.button-yellow:active {
  background-color: var(--yellow-click);
  color: rgba(var(--opacity-white), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}

/* About us */

.advantages {
  color: var(--gray-82);
  font-weight: 400;
}

.advantages-slogan {
  font-size: 45px;
  line-height: 45px;
  color: var(--basik-black);
  font-weight: 500;
}

.advantages-caption {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  font-weight: 400;
}

.statistics p {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.statistics dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percent {
  font-size: 26px;
  line-height: 40px;
}

.statistics dd {
  line-height: 18px;
  color: var(--gray-82);
  font-weight: 400;
}

/* Clients */

.clients-list {
  list-style: none;
}

/* Contacts & Map */

.contacts-caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.address,
.contacts-tel {
  line-height: 18px;
  color: var(--gray-60);
  font-weight: 400;
}

/* Footer */

.footer-list {
  list-style: none;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-text {
  line-height: 22px;
  color: var(--gray-73);
  font-weight: 400;
}

/* Catalog page */

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.from-to-filter {
  line-height: 22px;
  font-weight: 400;
  color: var(--gray-82);
  text-transform: uppercase;
}

.filter-points {
  line-height: 20px;
  font-weight: 400;
  color: var(--gray-82);
}

.button-gray {
  font-size: 16px;
  font-weight: 500;
  color: var(--basik-black);
  background-color: var(--gray-7);
  border: none;
}

.button-gray:hover {
  background-color: var(--gray-13);
}

.button-gray:active {
  background-color: var(--gray-16);
  color: rgba(var(--opacity-black), 0.3);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}

.filter-list {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-by-price {
  color: var(--basik-black);
}

.sort-by-type {
  color: rgba(var(--opacity-black), 0.3);
}

.sort-by-type:hover {
  color: rgba(var(--opacity-black), 0.6)
}

.sort-by-type:active {
  color: var(--basik-black)
}

.sort-by-name {
  color: rgba(var(--opacity-black), 0.3);
}

.sort-by-name:hover {
  color: rgba(var(--opacity-black), 0.6)
}

.sort-by-name:active {
  color: var(--basik-black)
}

.sort-down {
  color: var(--gray-87);
}

.sort-up {
  color: rgba(var(--opacity-gray), 0.2)
}

.sort-up:hover {
  color: var(--gray-35);
}

.sort-up:active {
  color: var(--gray-87);
}

/* screenshots of designs */

.design-list {
  list-style: none;
}

.design-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basik-black);
}

.design-title:hover {
  color: var(--basik-red);
}

.design-title:active {
  color: rgba(var(--opacity-black), 0.3);
}

.design-item p {
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-60);
}

.button-price {
  background-color: var(--basik-red);
}

.button-price:hover {
  background-color: var(--red-hover);
}

.button-price:active {
  background-color: var(--red-click);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}

.page-number-list {
  list-style: none;
}

.page {
  border-radius: 3px;
  line-height: 18px;
  color: var(--basik-black);
}

.active-page {
  border: 3px solid var(--gray-14);
}

.page-button {
  color: var(--basik-black);
  background-color: var(--gray-7);
  text-transform: uppercase;
}

.page-button:hover {
  background-color: var(--gray-13);
}

.page-button:active {
  color: rgba(var(--opacity-black), 0.3);
  background-color: var(--gray-16);
  box-shadow: inset 0px 3px 0px rgba(var(--opacity-button-gray), 0.1);
}
